#post
{
    border: 2px solid black;
    
    margin-left: 30px;
    margin-right: 30px;
}
#comment
{
   border-top: 2px solid black;
   
}
#title
{
    margin-left: 50px;
}
#words
{
    margin-left: 50px;
}
.title
{
    text-align: center;
}