body {
    margin: 0
}
.jumbotron
{
    background-color: aliceblue;
}
 
.navbar {
    border-radius: 0;
    background-color: #2699fb;
    color: white !important
}
 
.navbar-brand {
    color: white !important
}
 
.navbar-right a {
    color: white !important
}
 
.post {
    border: 1px solid black;
    margin-top: 3rem
}
 
.content {
    background-color: #bce0fd;
    padding: 2rem;
    padding-bottom: 6rem;
    border-bottom: 1px solid black
}
 
.postHead {
    font-size: 1.8rem;
    color: grey;
    padding-top: 3rem
}
 
.postBody {
    padding: 1rem;
    font-size: 1.2rem;
    color: grey;
}
 
.postedBy {
    color: #50a5d0;
    font-size: 1.2rem;
    float: right;
    margin-top: 3rem;
}
 
.commentBox textarea {
    width: 100%;
    border: none;
    padding: 6rem
}
