<!DOCTYPE html>
<html lang="en">

<head>
    <title>Website</title>
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/disc.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<div id="nav>">
    <ul>
        <li><a href="/">Out and Equal</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="contact.asp">Resources</a></li>
        <li><a href="/discussion/">Discussion</a></li>
        <li><a href="about.asp">Explore</a></li>
        <li><a href="/profile/">Profile</a></li>
      </ul>
      <br>
</div>
<h1 class="title">
    Discussion
</h1>
<div id="post">
    <div id="title">
    <h1>
        Title
    </h1>
    <p>
        fjalskdfjsld
    </p>
</div>
    <br>
    <div id="comment">
        <p id="words">fjaslkdfjsd</p>
    </div>
</div>
</html>