<!DOCTYPE html>
<html lang="en">

<head>
    <title>Website</title>
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/prof.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Out and Equal</a>
        </div>
        <form class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/resource/">Resources</a></li>
            <li><a href="/discussion/">Discussion</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="/profile/">Profile</a></li>
        </ul>
    </div>
</nav>
<body>
        <div class="jumbotron text-center">
                <h1>First Last</h1>
                <img src="/static/images/pic.jpeg">
              </div>
              
              <div class="container">
                <div class="row">
                  <div class="col-sm-4">
                    <h3>Location</h3>
                    <p>Lorem ipsum dolor..</p>
                    <p>Ut enim ad..</p>
                  </div>
                  <div class="col-sm-4">
                    <h3>Affiliation</h3>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                  <div class="col-sm-4">
                    <h3>Contact</h3> 
                    <p>Email</p>
                    <p>Address</p>
                  </div>
                </div>
              </div>
</body>
</html>
