<!DOCTYPE html>
<html lang="en">

<head>
    <title>Website</title>
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/prof.css">
    <link href="/static/css/css/bootstrap.min.css" rel="stylesheet">
</head>
<div id="nav>">
        <ul>
            <li><a href="default.asp">Out and Equal</a></li>
            <li><a href="news.asp">Home</a></li>
            <li><a href="contact.asp">Resources</a></li>
            <li><a href="about.asp">Discussion</a></li>
            <li><a href="about.asp">Explore</a></li>
            <li><a href="about.asp">Profile</a></li>
          </ul>
          <br>
    </div>
<body>
        <div class="jumbotron text-center">
                <h1>First Last</h1>
                <img src="/static/images/pic.jpeg">
              </div>
              
              <div class="container">
                <div class="row">
                  <div class="col-sm-4">
                    <h3>Location</h3>
                    <p>Lorem ipsum dolor..</p>
                    <p>Ut enim ad..</p>
                  </div>
                  <div class="col-sm-4">
                    <h3>Affiliation</h3>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                  <div class="col-sm-4">
                    <h3>Contact</h3> 
                    <p>Email</p>
                    <p>Address</p>
                  </div>
                </div>
              </div>
</body>
</html>
