<!DOCTYPE html>
<html lang="en">

<head>
    <title>Website</title>
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
</head>
<div id="nav>">
    <ul>
        <li><a href="default.asp">Out and Equal</a></li>
        <li><a href="news.asp">Home</a></li>
        <li><a href="contact.asp">Resources</a></li>
        <li><a href="about.asp">Discussion</a></li>
        <li><a href="about.asp">Explore</a></li>
        <li><a href="about.asp">Profile</a></li>
      </ul>
      <br>
</div>
<body>
    <form>
        Email: 
        <input type="text" name="email"><br>
        First Name:
        <input type="text" name="firstname"><br>
        Last Name:
        <input type="text" name="lastname"><br>
        Location:
        <input type="text" name="location"><br>
        Company:
        <input type="text" name="company"><br>
        Affiliation:
        <input type="text" name="affiliation"><br>
      </form>
</body>
</html>
