<!DOCTYPE html>
<html lang="en">

<head>
    <title>Website</title>
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<div id="nav>">
    <ul>
        <li><a href="/">Out and Equal</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="contact.asp">Resources</a></li>
        <li><a href="/discussion/">Discussion</a></li>
        <li><a href="about.asp">Explore</a></li>
        <li><a href="/profile/">Profile</a></li>
      </ul>
      <br>
</div>
<body>
        <div class="jumbotron">
                <div class="container">
                    <h1>Sign Up</h1>
                </div>
            </div>
    <form class="form">

        <input type="text" placeholder="email" name="email"><br>

        <input type="text" placeholder="username" name="username"><br>

        <input type="text" placeholder="password" name="password"><br>

        <input type="text" placeholder="location" name="location"><br>
  
        <input type="text" placeholder="company" name="company"><br>
  
        <input type="text" placeholder="affiliation" name="affiliation"><br>
        <button type="button" id="submit">Submit</button>
      </form>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
