<!DOCTYPE html>
<html lang="en">

<head>
    <title>Website</title>
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Out and Equal</a>
            </div>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="/discussion/">Discussion</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="/profile/">Profile</a></li>
            </ul>
        </div>
    </nav>
<body>
        <div class="jumbotron">
                <div class="container">
                    <h1>Sign Up</h1>
                </div>
            </div>
    <form class="form">

        <input type="text" placeholder="email" name="email"><br>

        <input type="text" placeholder="username" name="username"><br>

        <input type="text" placeholder="password" name="password"><br>

        <input type="text" placeholder="location" name="location"><br>
  
        <input type="text" placeholder="company" name="company"><br>
  
        <input type="text" placeholder="affiliation" name="affiliation"><br>
        <button type="button" id="submit">Submit</button>
      </form>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
