<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/disc.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Out and Equal</a>
            </div>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/resource/">Resources</a></li>
                <li><a href="/discussion/">Discussion</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="/profile/">Profile</a></li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron text-center">
            <div class="container">
                <h1>Discussion</h1>
            </div>
        </div>
    <div class="container">
        <div class="post">
            <div class="content">
                <div class="postHead">
                    Discussion Post...
                </div>
                <div class="postBody">
                    "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.""
                </div>
                <div class="postedBy">
                    Posted by User several months ago
                </div>
            </div>
            <div class="commentBox">
                <textarea name="" id="" placeholder="Comments.." rows="6"></textarea>
            </div>
        </div>
        <div class="post">
            <div class="content">
                <div class="postHead">
                    Discussion Post...
                </div>
                <div class="postBody">
                    "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.""
                </div>
                <div class="postedBy">
                    Posted by User several months ago
                </div>
            </div>
            <div class="commentBox">
                <textarea name="" id="" placeholder="Comments.." rows="6"></textarea>
            </div>
        </div>
        <div class="post">
            <div class="content">
                <div class="postHead">
                    Discussion Post...
                </div>
                <div class="postBody">
                    "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.""
                </div>
                <div class="postedBy">
                    Posted by User several months ago
                </div>
            </div>
            <div class="commentBox">
                <textarea name="" id="" placeholder="Comments.." rows="6"></textarea>
            </div>
        </div>
    </div>
</body>

</html>