<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/disc.css">
</head>

<body>
    <nav class="navbar navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Out and Equal</a>
            </div>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/resource/">Resources</a></li>
                <li><a href="/discussion/">Discussion</a></li>
                <li><a href="/testimony/">Testimonies</a></li>
                <li><a href="/profile/{{ logname }}">Profile</a></li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron text-center">
            <div class="container">
                <h1>Discussion</h1>
            </div>
        </div>
    <div class="container">
        {% for item in discussion %}
        <div class="post">
            <div class="content">
                <div class="postHead">
                   {{ item.post }}
                </div>
                <div class="postBody">
                    {{ item.body }}
                </div>
                <div class="postedBy">
                    {{ item.person }}
                </div>
            </div>
            <div class="commentBox">
                <textarea name="" id="" placeholder="Comments.." rows="6"></textarea>
            </div>
        </div>
        {% endfor %}
        
    </div>
</body>

</html>
