<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/resource.css">
</head>

<body>
    <nav class="navbar navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Out and Equal</a>
            </div>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/resource/">Resources</a></li>
                <li><a href="/discussion/">Discussion</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="/profile/"> Profile</a></li>
            </ul>
        </div>
    </nav>
    <div class="sidenav">
        <a href="#"><button class="btn">ADD POST</button></a>
        <a href="#"><b>SORT BY..</b>></a>
        <a href="#">MOST RECENT</a>
        <a href="#">ALPHABETICAL</a>
        <a href="#">CATEGORY</a>
    </div>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumb">
                        <div class="thumbnail">
                            THUMBNAIL
                        </div>
                        <div class="thumbContent">
                            <div class="thumbHead">
                                Resource Name...
                            </div>
                            <div class="thumbBody">
                                "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. "
                            </div>
                            <div class="thumbBy">
                                Posted by User several months ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumb">
                        <div class="thumbnail">
                            THUMBNAIL
                        </div>
                        <div class="thumbContent">
                            <div class="thumbHead">
                                Resource Name...
                            </div>
                            <div class="thumbBody">
                                "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. "
                            </div>
                            <div class="thumbBy">
                                Posted by User several months ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumb">
                        <div class="thumbnail">
                            THUMBNAIL
                        </div>
                        <div class="thumbContent">
                            <div class="thumbHead">
                                Resource Name...
                            </div>
                            <div class="thumbBody">
                                "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. "
                            </div>
                            <div class="thumbBy">
                                Posted by User several months ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumb">
                        <div class="thumbnail">
                            THUMBNAIL
                        </div>
                        <div class="thumbContent">
                            <div class="thumbHead">
                                Resource Name...
                            </div>
                            <div class="thumbBody">
                                "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. "
                            </div>
                            <div class="thumbBy">
                                Posted by User several months ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumb">
                        <div class="thumbnail">
                            THUMBNAIL
                        </div>
                        <div class="thumbContent">
                            <div class="thumbHead">
                                Resource Name...
                            </div>
                            <div class="thumbBody">
                                "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. "
                            </div>
                            <div class="thumbBy">
                                Posted by User several months ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumb">
                        <div class="thumbnail">
                            THUMBNAIL
                        </div>
                        <div class="thumbContent">
                            <div class="thumbHead">
                                Resource Name...
                            </div>
                            <div class="thumbBody">
                                "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. "
                            </div>
                            <div class="thumbBy">
                                Posted by User several months ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumb">
                        <div class="thumbnail">
                            THUMBNAIL
                        </div>
                        <div class="thumbContent">
                            <div class="thumbHead">
                                Resource Name...
                            </div>
                            <div class="thumbBody">
                                "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. "
                            </div>
                            <div class="thumbBy">
                                Posted by User several months ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumb">
                        <div class="thumbnail">
                            THUMBNAIL
                        </div>
                        <div class="thumbContent">
                            <div class="thumbHead">
                                Resource Name...
                            </div>
                            <div class="thumbBody">
                                "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. "
                            </div>
                            <div class="thumbBy">
                                Posted by User several months ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumb">
                        <div class="thumbnail">
                            THUMBNAIL
                        </div>
                        <div class="thumbContent">
                            <div class="thumbHead">
                                Resource Name...
                            </div>
                            <div class="thumbBody">
                                "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. "
                            </div>
                            <div class="thumbBy">
                                Posted by User several months ago
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</body>

</html>
