<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/resource.css">
</head>

<body>
    <nav class="navbar navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Out and Equal</a>
            </div>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/resource/">Resources</a></li>
                <li><a href="/discussion/">Discussion</a></li>
                <li><a href="/testimony/">Testimonies</a></li>
                <li><a href="/profile/"> Profile</a></li>
            </ul>
        </div>
    </nav>
    <div class="sidenav">
        <a href="#"><button class="btn">ADD POST</button></a>
        <a href="#"><b>SORT BY..</b>></a>
        <a href="#">MOST RECENT</a>
        <a href="#">ALPHABETICAL</a>
        <a href="#">CATEGORY</a>
    </div>
    <div class="main">
        <div class="container">
        
        {% for res in resources %}

                    <div class="thumb">
                        <div class="thumbnail">
                            {{ res.name }}
                        </div>
                        <div class="thumbContent">
                            <div class="thumbHead">
                                {{ res.name }}
                            </div>
                            <div class="thumbBody">
                                {{ res.body }}
                            </div>
                            <div class="thumbBy">
                                Posted by {{ res.person }}
                            </div>
                        </div>
                    </div>
        
        {% endfor %}

        </div>
    </div>
    <form class="form" action="{{ url_for('discussion') }}" method="post">
            <input type="text" placeholder="Name" name="name">
            <input type="text" placeholder="Body" name="body">
            <input type="text" placeholder="Person" name="person">
            <input type="submit" id="submit" name="submit">

    </form>
</body>

</html>
